<h1>La ruleta de los colores gracias a Jquery-knob </h1>
<p>Gira la ruletas con el mause </p>

<input type="text"  value="75" id="param_r" class="dial">
<input type="text"  value="75" id="param_g" class="dial">
<input type="text"  value="75" id="param_b" class="dial">
<br> <br>
<div>
  <p>los colores que estas eligiendo </p>
</div>
<div id="code" style="border: solid 1px black; width:200px; padding: 10px">
  <h3>por aqui saldra el color de acuerdo a lo que giras con el mause las ruletas
  </h3>
</div>
